nav {
    min-width: 30vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

nav > a {
    margin: 0 12px;
    padding: 12px;
    color: #47474c;
    text-decoration: none;
    transition: background-color;
    transition-duration: 0.5s;
    font-size: 22px;
    border-radius: 24px;
}

nav > a:hover {
    /*background-color: #e8e8e8;*/
    background-color: gold;
}